hospital_mgmt_CEFC/hospital_mgmt_CEFC/Service References/CEFCServiceReference/HospitalCEFCService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HospitalCEFCService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HospitalCEFCService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Class_Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Paddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Page" type="xs:int" />
      <xs:element minOccurs="0" name="PdisDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PempID" type="xs:int" />
      <xs:element minOccurs="0" name="PregDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Premarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Psex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class_Patient" nillable="true" type="tns:Class_Patient" />
  <xs:complexType name="ArrayOfClass_Checking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class_Checking" nillable="true" type="tns:Class_Checking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass_Checking" nillable="true" type="tns:ArrayOfClass_Checking" />
  <xs:complexType name="Class_Checking">
    <xs:sequence>
      <xs:element minOccurs="0" name="checkdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="docID" type="xs:int" />
      <xs:element minOccurs="0" name="fee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientNo" type="xs:int" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class_Checking" nillable="true" type="tns:Class_Checking" />
  <xs:complexType name="ArrayOfClass_Test">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class_Test" nillable="true" type="tns:Class_Test" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass_Test" nillable="true" type="tns:ArrayOfClass_Test" />
  <xs:complexType name="Class_Test">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientNo" type="xs:int" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="testdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="testhead" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class_Test" nillable="true" type="tns:Class_Test" />
  <xs:complexType name="Class_Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="counterNo" type="xs:int" />
      <xs:element minOccurs="0" name="empID" type="xs:int" />
      <xs:element minOccurs="0" name="empName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class_Employee" nillable="true" type="tns:Class_Employee" />
  <xs:complexType name="Class_Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docID" type="xs:int" />
      <xs:element minOccurs="0" name="docName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="faculty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class_Doctor" nillable="true" type="tns:Class_Doctor" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>